<h2>Save some money</h2>
<div style="margin:0 auto width:240px;">
	<div id="div2"></div>
	<div id="div3"></div>
</div>
<div class="bucket-labels">
    <div class="row-fluid">
        <div class="col-xs-4 col-xs-offset-2">
            Today's balance
        </div>
        <div class="col-xs-4">
            {{ bucketName }}&nbsp;<a href="#/settings">&#x00394;</a>
        </div>
    </div>
</div>
<div class="contribution">${{ amount / 100 | number: 2 }}</div>
<form ng-submit="processForm()">
    <input type="range" style="border:none;-webkit-box-shadow:none;width:80%;margin:0 auto;" class="form-control" min="0" max="{{ remainingBudget }}" value="100" step="1" ng-change="updateSlider($event)" ng-model="amount">
    <input type="submit" style="margin:10px auto;" class="btn btn-teal btn-lg" value="Save" />
</form>

<a href="#/daily" style="margin:10px auto;" class="btn btn-default">NVM</a>
