<h1>Budget Page</h1>
<p>This is the budget page.</p>

Username: <%= user.get('username') %>

<a href="#/buckets">Go to buckets</a>
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">$</span>
  <input type="tel" class="form-control" placeholder="00.00" ng-keyup="updateDollars($event)" ng-model="amount">
</div>
