<h2>{{ todaysDate | date : 'EEEE, MMMM d' }}</h2>
<div id="div1" style="margin:30px 0 0 0"></div>

<!-- <a href="#/premium" id="premium-btn" class="btn btn-xs btn-default btn-gold">Premium</a>
 -->
<ul id="transactions" class="list-unstyled clearfix" style="font-weight:200;width:60%;margin:30px auto 30px auto" >
    <li ng-repeat="transaction in transactions">
    	<div class="row-fluid">
    		<div class="col-xs-8 text-left">{{ transaction.label }}</div>
    		<div class="col-xs-4 text-right">${{ transaction.amount / 100 | number:2 }}</div>
		</div>
	</li>
    <li class="row-fluid">
		<div class="col-xs-8 text-left">Total purchases</div>
		<div class="col-xs-4 text-right">${{ getTotal() | number:2 }}</div>
	</li>
</ul>

	<div class="row-fluid">
        <div class="col-xs-4 col-xs-offset-2">
            <a href="#/buckets" class="btn btn-teal btn-lg">Save</a>
        </div>
        <div class="col-xs-4">
            <a href="#/spend" class="btn btn-teal btn-lg">Spend</a>
        </div>
	</div>
    <div class="row-fluid">
        <div class="col-xs-12">
            <a href="#/settings" class="text-muted">Settings</a>
        </div>
    </div>

<!-- <a href="#/settings">Go to settings</a> -->