<h2 style="font-size: 24px;text-transform: uppercase;font-weight:100;">{{ todaysDate | date : 'EEEE, MMMM d' }}</h2>
<div id="div1"></div>
<a href="#/buckets" class="btn btn-lg btn-primary">Save</a>
<a href="#/spend" class="btn btn-lg btn-primary">Spend</a>
<a href="#/settings">Go to settings</a>

<script language="JavaScript">

var rp1 = radialProgress(document.getElementById('div1'))
                .diameter(300)
                .value(380)
                .maxValue(1000)
                .render();

</script>