<h1>Spend Page</h1>
<p>This is the spend page.</p>

<form ng-submit="processForm()">
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">$</span>
  <input type="tel" class="form-control" placeholder="00.00" ng-keyup="updateDollars($event)" ng-model="amount">
</div>
<input type="submit" class="btn btn-primary" value="Spend" />
<a href="#/daily" class="btn btn-default">NVM</a>
</form>