<h2>Record a transaction</h2>

<form ng-submit="processForm()">
<div class="big-input">
  <span class="" id="sizing-addon1">$</span>
  <input type="tel" id="spend" class="" placeholder="00.00" ng-keyup="updateDollars($event)" ng-model="amount" >
</div>
<input type="submit" class="btn btn-teal btn-lg" value="Spend"/>
</form>
<br>
<a href="#/daily" class="btn btn-default">NVM</a>
