<h2>Welcome to Budgie <span class="badge">ALPHA</span></h2>

<div class="col-lg-12">
  <p>Welcome to Budgie!  Before we get started, we just need to know what your spending habits are like.  We'll get you set up with a daily budget from there!</p>
</div>

<div class="col-lg-12">
  <div class="alert alert-danger" ng-show="submitError">{{ submitError }}</div>
</div>

<form ng-submit="processForm()" ng-init="spendingHabits = 'moderate'">
  <div class="form-group">
    <p>On average, I tend to spend...</p>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-teal" ng-click="spendingHabits = 'frugal'">
        <input type="radio" name="spending_habits" value="frugal" id="option1" autocomplete="off" ng-checked="spendingHabits == 'frugal'">Frugally
      </label>
      <label class="btn btn-teal active" ng-click="spendingHabits = 'moderate'">
        <input type="radio" name="spending_habits" value="moderate" id="option2" autocomplete="off" checked ng-checked="spendingHabits == 'moderate'">Moderately
      </label>
      <label class="btn btn-teal" ng-click="spendingHabits = 'lavish'">
        <input type="radio" name="spending_habits" value="lavish" id="option3" autocomplete="off" ng-checked="spendingHabits == 'lavish'">Lavishly
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <a data-toggle="collapse" aria-expanded="false" ng-click="customToggle = !customToggle" aria-controls="customBudgetCollapse">or custom</a>
      <div class="collapse" id="customBudgetCollapse" ng-class="{in: customToggle}">
        <input type="text" class="form-control" placeholder="00.00" ng-model="customBudgetAmount" >
      </div>
    </div>
  </div>
    <input type="submit" class="btn btn-teal btn-lg" value="Start Saving"/>
</form>
