.page {
    bottom:0;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    background-color: #fff;
    left: 0;
}

#div1 {
    height: 270px;
}

.btn.btn-teal {
    color: #3ad3dd;
    background-color: #ffffff;
    border: 1px solid #3ad3dd;
    display:inline-block;
    width:100px;
}

.total {
    border-top: 1px solid #3ad3dd;
}

.big-input {
    font-size: 56px;
    font-weight: 100;
    padding: 0 50px;
}

.big-input input {
    border:none;
    width:82%;
    text-align: right;
}

.contribution {
    font-size: 56px;
    font-weight: 100;
}

h2 {
    margin-top:30px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight:100;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* slide up from bottom */

@-webkit-keyframes slideUp {
    from    { -webkit-transform: translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}
@keyframes slideUp {
    from    { transform: translateY(100%); }
    to      { transform: translateY(0); }
}

/* slide down from bottom */

@-webkit-keyframes slideDown {
    from    { -webkit-transform: translateY(0); }
    to      { -webkit-transform: translateY(100%); }
}
@keyframes slideDown {
    from    { transform: translateY(0%); }
    to      { transform: translateY(100%); }
}

/*don't move at all */

@-webkit-keyframes stayPut {
    from    { -webkit-transform: translateY(0); }
    to      { -webkit-transform: translateY(0); }
}
@keyframes stayPut {
    from    { transform: translateY(0); }
    to      { transform: translateY(0); }
}


.page-spend.ng-enter { -webkit-animation: slideUp 0.5s both ease-in; z-index: 9999;}
.page-spend.ng-leave { -webkit-animation: slideDown 0.5s both ease-in; z-index: 9999;}

.page-save.ng-enter { -webkit-animation: slideUp 0.5s both ease-in; z-index: 9999;}
.page-save.ng-leave { -webkit-animation: slideDown 0.5s both ease-in; z-index: 9999;}

.page-buckets.ng-enter { -webkit-animation: none!important; z-index: 7777;}
.page-buckets.ng-leave { -webkit-animation: stayPut 0.5s both ease-in; z-index: 7777;}

.page-daily.ng-enter { -webkit-animation: none!important; z-index: 7777;}
.page-daily.ng-leave { -webkit-animation: stayPut 0.5s both ease-in; z-index: 7777;}



/*
.ng-enter { -webkit-animation: slideInRight 0.5s both ease-in; z-index: 8888; animation: slideInRight 0.5s both ease-in; z-index: 8888; }
.ng-leave { -webkit-animation: slideOutLeft 0.5s both ease-in; z-index: 9999; animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }*/