<!DOCTYPE html>
<html>
  <head>
    <title>Budgie</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1 minimal-ui">
  </head>
  <body ng-app="budgie">
    <div class="container">